[package]
name = "concept_db"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
warp = { version = "0.4.2", features = ["server"] }
